//colors
$pale-blue: hsl(225, 100%, 94%);
$bright-blue: hsl(245, 75%, 52%);
$very-pale-blue: hsl(225, 100%, 98%);
$desaturated-blue: hsl(224, 23%, 55%);
$drk-blue: hsl(223, 47%, 23%);

// typography
body {
    font-style: 16px;
    font-family: 'Red Hat Display', sans-serif;
}